@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Bienvenido a la página sobre MODERN FAMILY y sus PERSONAJES</h1>
<div>
    <h3 class="display-4">Menú</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Crear personaje", "Create", "Personaje")</li>
        <li>@Html.ActionLink("Lista de personajes", "Index", "Personaje")</li>
    </ul>
</div>
